body{
    margin: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
    'header header header header'
    'footer footer footer footer';
    grid-template-rows: 10vh 40vh 60vh 40vh;
    grid-template-columns: 25% 25% 25% 25%;
}
nav{
    grid-area: nav;
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav #navbar{
    display:none;
    background-color: transparent;

}
nav #navbar a{
    color: rgb(0, 255, 0);
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
    text-transform: uppercase;
}
nav #hamburguer{
    width: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}
nav #hamburguer span{
    width: 100%;
    height: 6px;
    background-color: rgb(77, 255, 77);
    border-radius: 10px;
    transition: 0.3s;

}
section{
    grid-area: section;
    width: 100%;
    height: 100vh;
    background-color: rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    transform: translateX(-105%);
    transition: 1s;
    color:rgb(0, 255, 0);
}

section a{
    text-decoration: none;
    margin-top: 20px;
    font-size: 16pt;
    color: rgb(3, 255, 3);
    font-weight: bolder;
}


.aparecerMenu{
    transform: translateX(0);
    background-color: rgb(0, 0, 0);
    
}

.sumirIgualTiro{
    transform: translateX(-70vw);
    background-color: rgb(93, 93, 93);
}

.virarX1{
    transform: rotateZ(-45deg);
    transform-origin: right center;
    background-color: rgb(51, 255, 0);
}

.virarX2{
    transform: rotateZ(45deg);
    transform-origin: right center;
    position: relative;
    top: 8px;
    background-color: rgb(102, 255, 0);
}
@media(min-width: 768px){
    nav #navbar{
        display: flex;
        
    }
    nav #hamburguer{
        display: none;
    }
    
}
#header{
    grid-area: header;
    margin-top:0;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: url(download.jpg);
    background-size: cover;
    border-bottom: 10px;
    border-color: black;
    border:solid;
}
#divb {
    flex-direction: column;
}
#divb{
    color:white;
    align-items: center;
    font-size: 30px;
}
#divb button{
    border:none;
    background-color: rgb(255, 255, 255);
    text-transform:uppercase;
    text-decoration: black;
    font-size: 15px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
}
footer{
    grid-area: footer;
    background-color: rgb(136, 136, 136);
    width: 100%;
    height: 400px;
    margin-top: 70px;
   
}